---
name: devbox
on:
  pull_request:
    branches: [main, master]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  make:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - update
          - upgrade
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make ${{matrix.target}}
        uses: ./
        with:
          checkout: false
          run: "make ${{matrix.target}}"
          cache: "false"

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make configure
        run: make configure
          GIT_REPO=${{ github.event.pull_request.head.repo.full_name }}
          GIT_BRANCH=${{ github.head_ref || github.ref_name }}

      - name: Run make requirements
        uses: ./
        with:
          checkout: false
          run: "make requirements"
          path: tests/collection
          cache: "false"

      - name: Run make build
        uses: ./
        with:
          checkout: false
          install: false
          run: "make install build"
          path: tests/collection
          cache: "false"

  collection:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - lint
          - test
          - init
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make configure
        run: make configure
          GIT_REPO=${{ github.event.pull_request.head.repo.full_name }}
          GIT_BRANCH=${{ github.head_ref || github.ref_name }}

      - name: Run make ${{matrix.target}}
        uses: ./
        with:
          checkout: false
          run: "make install ${{matrix.target}}"
          path: tests/collection
          cache: "false"

  role:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - lint
          - test
          - init
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make configure
        run: make configure
          GIT_REPO=${{ github.event.pull_request.head.repo.full_name }}
          GIT_BRANCH=${{ github.head_ref || github.ref_name }}

      - name: Run make ${{matrix.target}}
        uses: ./
        with:
          checkout: false
          run: "make requirements install ${{matrix.target}}"
          path: tests/role
          cache: "false"

  version-update:
    runs-on: ubuntu-latest
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make configure
        uses: ./
        with:
          run: make configure
            GIT_REPO=${{ github.event.pull_request.head.repo.full_name }}
            GIT_BRANCH=${{ github.head_ref || github.ref_name }}
          cache: "false"

      - name: Run make version-check
        uses: ./
        with:
          checkout: false
          run: make version-check
          path: tests/collection
          cache: "false"
        env:
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}

  version-unchanged:
    runs-on: ubuntu-latest
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make configure
        uses: ./
        with:
          run: make configure
            GIT_REPO=${{ github.event.pull_request.head.repo.full_name }}
            GIT_BRANCH=${{ github.head_ref || github.ref_name }}
          cache: "false"

      - name: Run make version-check
        uses: ./
        with:
          checkout: false
          run: make version-check
          path: tests/collection
          cache: "false"
        env:
          BASE_SHA: ${{ github.event.pull_request.head.sha }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
        continue-on-error: true
        id: check_fail

      - name: Check version-check result
        if: steps.check_fail.outcome == 'failure'
        run: |
          echo "Version check failed as expected because no version change was made."
          exit 0

  version-downgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Update apt packages
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y

      - name: Check out the codebase
        uses: actions/checkout@v5

      - name: Run make configure
        uses: ./
        with:
          run: make configure
            GIT_REPO=${{ github.event.pull_request.head.repo.full_name }}
            GIT_BRANCH=${{ github.head_ref || github.ref_name }}
          cache: "false"

      # HEAD_SHA is set to commit 3609fc62d3af0c1ba8cbca940abf28e2e82a6f21, which is the last release before version 0.0.3.
      # This is used for downgrade testing to ensure version-check fails as expected.
      - name: Run make version-check
        uses: ./
        with:
          checkout: false
          run: make version-check
          path: tests/collection
          cache: "false"
        env:
          BASE_SHA: ${{ github.event.pull_request.head.sha }}
          HEAD_SHA: 3609fc62d3af0c1ba8cbca940abf28e2e82a6f21
        continue-on-error: true
        id: check_fail

      - name: Check version-check result
        if: steps.check_fail.outcome == 'failure'
        run: |
          echo "Version check failed as expected because version was downgraded."
          exit 0
