---
name: lint
on:
  workflow_call:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Lint repository
        uses: pokerops/ansible-utils@master
        with:
          run: "make lint"
          cache: "false"
